In [1]:
import pandas as pd

In [59]:
spotify = pd.read_csv('spotify_daily.csv')

In [60]:
spotify.head(3)

,artist,date,movement,ranking,song_title,streams
0,"Ariana Grande/sep/,24kGoldn/sep/,Internet Mone...","2020-10-29,2020-10-29,2020-10-29,2020-10-29,20...","rect,polygon,polygon,rect,rect,rect,rect,rect,...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","positions/sep/,Mood (feat. iann dior)/sep/,Lem...","1423435,1085998,1054562,1009019,962738,917075,..."
1,"Ariana Grande/sep/,Luke Combs/sep/,Internet Mo...","2020-10-27,2020-10-27,2020-10-27,2020-10-27,20...","rect,rect,rect,rect,rect,rect,rect,rect,rect,r...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","positions/sep/,Forever After All/sep/,Lemonade...","1579701,1144399,1082428,1049116,948848,897468,..."
2,"Ariana Grande/sep/,Internet Money/sep/,24kGold...","2020-10-28,2020-10-28,2020-10-28,2020-10-28,20...","rect,polygon,polygon,polygon,rect,rect,rect,re...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","positions/sep/,Lemonade (feat. Gunna, Don Toli...","1467474,1066857,1065305,1049866,953967,898601,..."

In [4]:
spotify.shape

(3, 5)

In [5]:
3*200

600

In [13]:
date = spotify['date'].str.split(',')
date.str.strip(' ')

0   NaN
1   NaN
2   NaN
Name: date, dtype: float64

In [10]:
len(date)

3

In [31]:
def list_to_rows(variable, sep, d_type):
    '''''''''''
    This function splits the lists in df[variable] using sep, and put every split output in a new row
    '''''''''''
    col_np = spotify[variable].str.split(sep).explode()
    col_df = pd.DataFrame(col_np)
    col_df = col_df.astype({variable: d_type})
    return col_df

In [37]:
streams = list_to_rows('streams', ',', 'int')

In [50]:
art_col = list_to_rows('artist', '/sep/,', 'str')

In [53]:
song = list_to_rows('song_title','/sep/,','str')

In [61]:
symbol = list_to_rows('movement',',','str')

In [62]:
symbol

   movement
0      rect
0   polygon
0   polygon
0      rect
0      rect
..      ...
2    circle
2    circle
2   polygon
2    circle
2   polygon

[600 rows x 1 columns]

In [56]:
df_test = pd.concat([art_col, art_col, song, art_col, streams], axis=1, ignore_index = True)
df_test.head()

,0,1,2,3,4
0,Cardi B,Cardi B,WAP (feat. Megan Thee Stallion),Cardi B,1423435
0,Internet Money,Internet Money,"Lemonade (feat. Gunna, Don Toliver & NAV)",Internet Money,1085998
0,24kGoldn,24kGoldn,Mood (feat. iann dior),24kGoldn,1054562
0,Pop Smoke,Pop Smoke,For The Night (feat. Lil Baby & DaBaby),Pop Smoke,1009019
0,Drake,Drake,Laugh Now Cry Later (feat. Lil Durk),Drake,962738

In [58]:
df_test.to_csv('test.csv')