In [1]:
import pandas as pd
import numpy as np

In [2]:
spotify = pd.read_csv('spotify_daily.csv')

In [3]:
spotify.head()

,artist,date,movement,ranking,song_title,streams
0,"Ariana Grande/sep/,Internet Money/sep/,24kGold...","2020-10-28,2020-10-28,2020-10-28,2020-10-28,20...","rect,polygon,polygon,polygon,rect,rect,rect,re...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","positions/sep/,Lemonade (feat. Gunna, Don Toli...","1467474,1066857,1065305,1049866,953967,898601,..."
1,"Ariana Grande/sep/,24kGoldn/sep/,Internet Mone...","2020-10-29,2020-10-29,2020-10-29,2020-10-29,20...","rect,polygon,polygon,rect,rect,rect,rect,rect,...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","positions/sep/,Mood (feat. iann dior)/sep/,Lem...","1423435,1085998,1054562,1009019,962738,917075,..."
2,"Ariana Grande/sep/,Ariana Grande/sep/,Ariana G...","2020-10-30,2020-10-30,2020-10-30,2020-10-30,20...","circle,polygon,circle,circle,circle,circle,cir...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","34+35/sep/,positions/sep/,motive (with Doja Ca...","2698854,2532572,2128897,2034529,1943259,179785..."
3,"Cardi B/sep/,Drake/sep/,Morgan Wallen/sep/,DaB...","2020-08-14,2020-08-14,2020-08-14,2020-08-14,20...","rect,circle,circle,polygon,circle,polygon,poly...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","WAP (feat. Megan Thee Stallion)/sep/,Laugh Now...","3030510,2600470,2269891,1221684,1161613,114664..."
4,"Cardi B/sep/,Drake/sep/,Morgan Wallen/sep/,DaB...","2020-08-15,2020-08-15,2020-08-15,2020-08-15,20...","rect,rect,rect,rect,polygon,rect,polygon,rect,...","1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...","WAP (feat. Megan Thee Stallion)/sep/,Laugh Now...","2969444,2535804,1495826,1227494,1059770,105622..."

In [4]:
spotify.shape

(1395, 6)

In [5]:
def list_to_rows(variable, sep, d_type):
    '''''''''''
    This function splits the lists in spotify['variable'] using 'sep', 
    then puts every output item from the split in a new row
    '''''''''''
    col_np = spotify[variable].str.split(sep).explode()
    col_df = pd.DataFrame(col_np)
    col_df = col_df.astype({variable: d_type})
    return col_df

In [6]:
# applying list_to_rows() to every column in df
artist_col = list_to_rows('artist', '/sep/,', 'str')
date_col = list_to_rows('date', ',', 'str')
movement_col = list_to_rows('movement', ',', 'str')
ranking_col = list_to_rows('ranking', ',', 'int')
song_col = list_to_rows('song_title', '/sep/,', 'str')
streams_col = list_to_rows('streams', ',', 'int')

In [7]:
# verify # of rows in each output; 279000 is what we should get
print(f'artist: {artist_col.shape}')
print(f'date: {date_col.shape}')
print(f'movement: {movement_col.shape}')
print(f'ranking: {ranking_col.shape}')
print(f'song_title: {song_col.shape}')
print(f'streams: {streams_col.shape}')

artist: (278984, 1)
date: (279000, 1)
movement: (279000, 1)
ranking: (279000, 1)
song_title: (278984, 1)
streams: (279000, 1)

In [8]:
(1395)*200 - 278984
# artist and song_title are missing 16 rows each

16

In [9]:
# missing 1 row from each of these indices from 2017, total 6
spotify.iloc[325:331, ]['artist'].str.split('/sep/,').explode().shape

(1194,)

In [10]:
# missing 2 rows from each of these indices from 2017, total 10
spotify.iloc[213:218, ]['artist'].str.split('/sep/,').explode().shape

(990,)

In [11]:
# removing 2017 for the sake of time; will add try/except to the scrapy codes later
spotify = spotify[~spotify['date'].str.contains('2017')]
spotify.shape

(1033, 6)

In [12]:
artist_col = list_to_rows('artist', '/sep/,', 'str')
date_col = list_to_rows('date', ',', 'str')
movement_col = list_to_rows('movement', ',', 'str')
ranking_col = list_to_rows('ranking', ',', 'int')
song_col = list_to_rows('song_title', '/sep/,', 'str')
streams_col = list_to_rows('streams', ',', 'int')

In [13]:
# checking # or rows again, should get 206600 rows
print(f'artist: {artist_col.shape}')
print(f'date: {date_col.shape}')
print(f'movement: {movement_col.shape}')
print(f'ranking: {ranking_col.shape}')
print(f'song_title: {song_col.shape}')
print(f'streams: {streams_col.shape}')

artist: (206600, 1)
date: (206600, 1)
movement: (206600, 1)
ranking: (206600, 1)
song_title: (206600, 1)
streams: (206600, 1)

In [14]:
# binding columns
spotify_cleaned = pd.concat([artist_col, date_col, movement_col, ranking_col, song_col, streams_col], 
                            axis=1, ignore_index=True)

In [15]:
spotify_cleaned.shape

(206600, 6)

In [16]:
spotify_cleaned.head()

,0,1,2,3,4,5
0,Ariana Grande,2020-10-28,rect,1,positions,1467474
0,Internet Money,2020-10-28,polygon,2,"Lemonade (feat. Gunna, Don Toliver & NAV)",1066857
0,24kGoldn,2020-10-28,polygon,3,Mood (feat. iann dior),1065305
0,Luke Combs,2020-10-28,polygon,4,Forever After All,1049866
0,Pop Smoke,2020-10-28,rect,5,For The Night (feat. Lil Baby & DaBaby),953967

In [17]:
# renaming columns
spotify_cleaned = spotify_cleaned.rename({0:'artist', 1:'date', 2:'movement', 3:'ranking', 4:'song_title', 5:'streams'}, 
                                         axis='columns')

In [18]:
# removing '/sep/' from artist and song_title column, if there's any
spotify_cleaned['artist'] = spotify_cleaned['artist'].str.replace('/sep/','')
spotify_cleaned['song_title'] = spotify_cleaned['song_title'].str.replace('/sep/','')

In [19]:
# converting date column to datetime
spotify_cleaned['date'] = pd.to_datetime(spotify_cleaned['date'])
spotify_cleaned['date'].dtype

dtype('<M8[ns]')

In [20]:
# sort data by date then by ranking
spotify_cleaned = spotify_cleaned.sort_values(['date', 'ranking'], ascending = (False, True))

In [21]:
# adding new_entry column
spotify_cleaned['new_entry'] = (spotify_cleaned['movement']=='circle')

In [22]:
# adding date_dow column
spotify_cleaned['date_dow'] = spotify_cleaned['date'].dt.dayofweek+1

In [23]:
# re-index
spotify_cleaned = spotify_cleaned.reset_index()

In [24]:
spotify_cleaned.head()

,index,artist,date,movement,ranking,song_title,streams,new_entry,date_dow
0,2,Ariana Grande,2020-10-30,circle,1,34+35,2698854,True,5
1,2,Ariana Grande,2020-10-30,polygon,2,positions,2532572,False,5
2,2,Ariana Grande,2020-10-30,circle,3,motive (with Doja Cat),2128897,True,5
3,2,Ariana Grande,2020-10-30,circle,4,off the table (with The Weeknd),2034529,True,5
4,2,Ariana Grande,2020-10-30,circle,5,shut up,1943259,True,5

In [25]:
spotify_cleaned.drop(columns = ['index','movement'], inplace = True)

In [26]:
spotify_cleaned.head()

,artist,date,ranking,song_title,streams,new_entry,date_dow
0,Ariana Grande,2020-10-30,1,34+35,2698854,True,5
1,Ariana Grande,2020-10-30,2,positions,2532572,False,5
2,Ariana Grande,2020-10-30,3,motive (with Doja Cat),2128897,True,5
3,Ariana Grande,2020-10-30,4,off the table (with The Weeknd),2034529,True,5
4,Ariana Grande,2020-10-30,5,shut up,1943259,True,5

In [27]:
# checking data type
spotify_cleaned.head()
print(f'artist: {spotify_cleaned["artist"].dtype}')
print(f'date: {spotify_cleaned["date"].dtype}')
print(f'ranking: {spotify_cleaned["ranking"].dtype}')
print(f'song_title: {spotify_cleaned["song_title"].dtype}')
print(f'streams: {spotify_cleaned["streams"].dtype}')
print(f'new_entry: {spotify_cleaned["new_entry"].dtype}')
print(f'date_dow: {spotify_cleaned["date_dow"].dtype}')

artist: object
date: datetime64[ns]
ranking: int32
song_title: object
streams: int32
new_entry: bool
date_dow: int64

In [28]:
spotify_cleaned.to_csv('spotify_cleaned.csv')